/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default browser style settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Montserrat', sans-serif;
    color: #415A77;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #e0e1dd;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #666666;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 100%;
    height: 50px;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0e1dd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu {
    font-size: 130%;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #e0e1dd;
}

#title {
    margin-top: 5px;
    margin-left: 5px;
}

/* Navbar styles with dropdown toggle */
nav{
    position: absolute;
    background-color: #e0e1dd;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-icon {
    font-size: 2rem;
    margin-right: 10px;
}

/* Main content */
#main {
    background-color: #e0e1dd;
    /* Make main element take up any space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    background: url(./images/about-us-gym.jpg);
    position: relative;
    margin-top: 47px;
    flex: 1 0 auto;
    height: 600px;
    width: 100%;
}

#about-us {
    color: #ffffff;
    font-size: 140%;
}

/* This is just to move the about us section to the right so its not on the edge of the page*/
#about-us2 {
    margin-left: 10px;
}

#equipment {
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
}

div h2 {
    background-color: transparent;
    color: #778DA9;
}

section div {
    margin-top: 10px;
}

/* Gallery Section */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Form */
#signup {
    background-image: url("../css/images/signup-background-photo.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top: 20px;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #3a3a3a;
    color: #fafafa;
}

#transparent-header {
    background-color: transparent;
    text-align: center;
}

#what-next {
    color: #fafafa;
    font-size: 137%;
    padding-bottom: 20px;
}

#what-next h2 {
    color: #fafafa;
}

/* Personal Trainer section*/
#personal-trainer {
    background-color: #e0e1dd;
    width: 100%;
    margin: auto;
}
#personal-trainer h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
    margin-top: 10px;
}

#trainers {
    text-align: center;
}

#trainers h3 {
    font-size: 140%;
}

#trainers p {
    font-size: 120%;
    margin: 10px;
    margin-bottom: 20px;
}

/* Classes section */
#classes {
    background-color: #e0e1dd;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
    
}

#details {
    color: #1f1f1f;
    background-color: #bdbdbd;
    padding: 0px 40px;
    margin: 2px;
    text-align: center;
    border: 2px solid #1e2936;
    font-size: 150%;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    display: flex;
    flex-wrap: wrap;
}

#details div {
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time dives over the background image */
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

/* Footer section */

footer {
    background-color: #e0e1dd;
}

footer h2 {
    font-size: 160%;
    text-align: center;
    margin-bottom: 15px;
}

#address {
    text-align: center;
    font-size: 120%;
}

#opening-hours {
    text-align: center;
    font-size: 120%;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#contact {
    text-align: center;
    font-size: 120%;
    margin-top: 15px;
}

#social-networks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-networks i{
    color: #415A77;
    font-size: 200%;
}

#social-networks li {
    list-style-type: none;
}

/* Media query: tablets and larger (320px and up) */
@media screen and (min-width: 320px) {
    #about-us {
        font-size: 120%;
    }

    #about-us2 h2 {
        font-size: 180%;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Main Content */
    #about-us {
        font-size: 170%;
    }

    #about-us2 h2 {
        font-size: 220%;
    }

    #equipment h2 {
        font-size: 220%;
    }

    #what-next {
        font-size: 174%;
    }
}

/* Media query: tablets and larger (932px and up) */
@media screen and (min-width: 932px) {
    /* Main Content */
    #about-us {
        font-size: 200%;
    }

    #about-us2 h2 {
        font-size: 230%;
    }

    #equipment h2 {
        font-size: 230%;
    }

    /* Footer */
    #contact-us {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        width: 100%;
    }

    #contact-us h2 {
        display: none;
    }

    #address {
        font-size: 150%;
        margin-top: 15px;
    }

    #opening-hours {
        font-size: 150%;
        margin-left: 20px;
    }

    #contact {
        font-size: 150%;
        margin-left: 20px;
    }
}